{% extends 'base.html' %}

{% block title %}
Create user
{% endblock %}

{% block content %}
<h1>Create a user</h1>
<form method="post">
    <div>
        <label for="first_name">First Name</label>
        <div>
            <input type="text" id="first_name" name="first_name" placeholder="Enter a first name">
        </div>
    </div>
    
    <div>
        <label for="last_name">Last Name</label>
        <div>
            <input type="text" id="last_name" name="last_name" placeholder="Enter a last name">
        </div>
    </div>
    
    <div>
        <label for="image_url">Image</label>
        <div>
            <input type="text" id="image_url" name="image_url" placeholder="Provide an image for this user">
        </div>
    </div>

    <button type="submit">Add user</button>

</form>

{% endblock %}