{% extends 'base.html' %}

{% block title %}
{{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block content %}

<div class="row">

    {% if user.image_url %}
    <div>
        <img src="{{ user.image_url }}" alt="{{ user.first_name }} {{ user.last_name }}" class="img-fluid">
    </div>
    {% endif %}

    <div>
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>

        <form>
            <button formaction="/users/{{ user.id }}/edit" formmethod="post">Edit</button>

            <button formaction="/users/{{ user.id }}/delete" formmethod="post">Delete</button>
        </form>
    </div>
{% endblock %}